{% extends 'base/main.html' %}
{% block content %}
    <div class="top-bar">
        <div>
            <h1>Hi, {{ request.user | title }}</h1>
            <h3 style="margin: 0">You have <i>{{ count }}</i> pending task{{ count | pluralize }}</h3>
        </div>
        {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Signin</a>
        {% endif %}
    </div>

    <div class="envolt-add-find">
        <form method="get" style="display: flex;">
            <input type="text" name="boxSearch" value="{{ search_value }}"/>
            <input class="btn-input" type="submit" value="Search"/>
        </form>
        <a id="link-btn-add" href="{% url 'create-task' %}">&#xFF0B;</a>
    </div>

    <div class="envolt-item-tasks">
        {% for task in tasks %}
        <div class="envolt-task">
            {% if task.complete %}
                <div class="title-task">
                    <div class="icon-task-complete"></div>
                    <i><s><a href="{% url 'edit-task' task.id %}">{{ task }}</a></s></i>
                </div>
                <a class="link-delete" href="{% url 'delete-task' task.id %}">
                &#x2A2F;
                </a>
            {% else %}
                <div class="title-task">
                    <div class="icon-task-incomplete"></div>
                    <a href="{% url 'edit-task' task.id %}">{{ task }}</a>
                </div>
                <a class="link-delete" href="{% url 'delete-task' task.id %}">
                &#x2A2F;
                </a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
{% endblock content %}
